<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">


<display-name>WebTest</display-name>

<servlet>
    <servlet-name>WebTest</servlet-name>
    <servlet-class>com.WebTest.WebTest</servlet-class>

</servlet>

<servlet-mapping>
<servlet-name>WebTest</servlet-name>
<url-pattern>/</url-pattern>
</servlet-mapping>
</web-app>